<div id="contact-form-view">
  <%= form_for '', url: contact_path do |f| %>
  <div class="cnt-form-one">
	  <div class="pad-top-bot">
	  <input type="text" name="name"  placeholder="Name" required="required" class="user-name fm form-control">
		</div>
		<div class="pad-top-bot">
	  <input type="text" name="name"  placeholder="E-Mail" required="required" class="user-email fm form-control"></div>
	  <div class="pad-top-bot">
	  <input type="text" name="name" placeholder="Phone" required="required" class="user-phone fm form-control" pattern: "[789][0-9]{9}"></div>
	  <div class="pad-top-bot">
	  <textarea rows="5" cols="48" placeholder="Enter your message here" class="user-message fm form-control"> 
	  </textarea></div>
	  <div class="pad-top-bot">
	 <input type="submit" value="Submit" class="btn btn-primary cnt-form-one-submit-bnt">
	</div>
</div>
<% end %> 
    
</div>