 <!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
 <html lang="en"> <!--<![endif]-->
<head>
	<title>SUNRISETECH</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">	
  <link href="assets/bootstrap.min.css" type="text/css" rel="stylesheet" /> 
  <link href="assets/custom.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="/assets/bootstrap.js"></script>
  <script type="text/javascript" src="/assets/jquery-2.2.4.js"></script> 
</head>
<body>
		<header>
		<div class="container">
			<div class="row">
				<div class="mob-media">
				  	<div id="mySidenav" class="sidenav mob-color">
						<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
						<li class="dropdown nav-list">
						<a class="dropdown" data-toggle="dropdown">
						SEO SERVICES <span class="caret"></span>
						</a>
						<ul class="mbshow">
							<li><a href="#" target="_blank">SEO IN DELHI</a></li>
							<li><a href="#" target="_blank">SEO IN NOIDA</a></li>
							<li><a href="#" target="_blank">SEO IN GURGAON</a></li>
							<li><a href="#" target="_blank">SEO IN FARIDABAD</a></li>
						</ul>
						</li>
				        <li class="nav-list"><a href="smo-services">SMO SERVICES</a></li>
				        <li class="nav-list"><a href="web-designing">WEBSITE DESIGN</a></li>
						<li class= "nav-list"><a href="prices">PRICING</a></li>
						<li class="nav-list"><a href="about">ABOUT US</a></li>
				        <li class="nav-list"><a href="contacts">CONTACT US</a></li>
					</div>
					<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
				</div>
				<div class=" header-main">
					<div class="header-top hd">
				        <div id="container">
				          <a href="http://localhost:3000/" title="SUNRISETECH IN PALWAL" id="logo"><img src="assets/img/logo.png"/> </a>
						    <div id="drop-down" class="hdr">
								<ul class="nav nav-tabs">
								<li class=" nav-list" id="hpd"><a href="http://localhost:3000/" title="SUNRISETECH">HOME</a></li>
								<li class="dropdown nav-list">
								<a class="dropdown" data-toggle="dropdown">
								SEO SERVICES <span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#" target="_blank">SEO IN DELHI</a></li>
									<li><a href="#" target="_blank">SEO IN NOIDA</a></li>
									<li><a href="#" target="_blank">SEO IN GURGAON</a></li>
									<li><a href="#" target="_blank">SEO IN FARIDABAD</a></li>
								</ul>
								</li>
						        <li class="nav-list"><a href="smo-services">SMO SERVICES</a></li>
						        <li class="nav-list"><a href="web-designing">WEBSITE DESIGN</a></li>
								<li class= "nav-list"><a href="prices">PRICING</a></li>
								<li class="nav-list"><a href="about">ABOUT US</a></li>
						        <li class="nav-list"><a href="contacts">CONTACT US</a></li>
						    </div>
						      
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section>
		<div class="container">
				<div class="row">
					<div id="ctr">
						<div class="img-column">
							<a class="serv-image"  href="assets/event/seo.png">
								<img src="assets/event/seo.png" alt="seo image" class="img-block">
							</a>
						</div>
					</div>
				</div>
				<!-- text block -->	
				<div class="row">
					<div class="business-block">
						<div class="inner-bus-block">
							<p class="cnt-head">We believe in quality services and customer satisfaction</p>
							<p class="cnt" >We, at Sunrise Tech are well-known for providing the best SEO services in the market because we follow the strict guidelines and policies for the benefits of our customers. </p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
			            <div class="smooth-heading">
			              <h1 class="cnt-head">Here are the things we work upon:</h1>
			              <div style="float:left"><ul><li class="seo-list cnt"><p >Enhancing the quality of content and information.</p></li>
						  		<li class="seo-list cnt"><p>Representing information via graphs or pictures.</p></li>
								<li class="seo-list cnt"><p>Providing innovative and world-class services.</p></li>
								<li class="seo-list cnt"><p>Receiving feedback from customers. </p></li>
								<li class="seo-list cnt"><p >Enhancing lead conversion via multiple techniques.</p></li>
								<li class="seo-list cnt"><p >Analysing back links by error detection.</p></li>

													
						  </ul>
							</div>
					  
		            	</div>
		          	</div>
		        </div>

		        <div class="row">
					<div class="col-md-12">
			            <div class="smooth-heading">
			              <h1 class="cnt-head">Our valuable services that is helpful to stand out on the internet:</h1>
			              <div style="float:left"><ul><li class="seo-list cnt"><p >Business SEO Services</p></li>
						  		<li class="seo-list cnt"><p>SEO Services</p></li>
								<li class="seo-list cnt"><p>Providing innovative and world-class services.</p></li>
								<li class="seo-list cnt"><p>Web Designing</p></li>
								<li class="seo-list cnt"><p >SMO services</p></li>
								<li class="seo-list cnt"><p >Off-page Optimization</p></li>
								<li class="seo-list cnt"><p >Online Marketing</p></li>

													
						  </ul>
							</div>
					  
		            	</div>
		          	</div>
		        </div>
		        <div class="row">
		        	<div class="cnt">
		        		<p>Feel free to get in touch with us and avail our best services at cheaper prices. </p>
		        	</div>
		        </div>
				<!-- contact block -->
				<div id="contact-section">   
				        <div id="contact" class="row">
				          <div class="col-sm-6 contact-form">
				          	<h2 id ="contact-header">Contact</h2>
				          	<%= render "contactform" %>
				           
				          </div>
				          <div class="col-sm-6 contact-content">
				            <div class="company-name">
				            	<h2>Sunrise Tech Pvt Ltd.</h2>
				            </div>
				            <ul style="list-style-type:none;">
				              
				              <li class="col-sm-12" >
				                <div class="col-sm-1"><img src="assets/img/phone.png" /></div>
				                <div class="col-sm-11"><h4>Phone: 09582806048</h4>
				                 <h4> Landline: 0120-4214850</h4>
				                </div>
				              </li>
				              <li class="col-sm-12">
				                <div class="col-sm-1"><img src="assets/img/email.png" /></div>
				                <div class="col-sm-11 "><h4>Email: mic@sunrisetech.in</h4></div>
				              </li>
				              <li class="col-sm-12">
				                <div class="col-sm-1"><img src="assets/img/website.png" /></div>
				                <div class="col-sm-11"><h4>Website: <a href="http://localhost:3000/">www.sunrisetech.in</h4></a></div>
				              </li>
				            </ul>
				          </div>
				        </div>
				    </div>                    
			<footer>
							<div class="ftr1">
								<div class="row">
									<div class="col-sm-3 ">
										<ul class="contact">
											<h4>Services</h4>
											<li><a href="#">SEO SEVICES</a></li>
											<li><a href="/smo-services">SMO SERVICES</a></li>
											<li><a href="/web-designing">WEB DESIGNING</a></li>
											<li><a href="#">ONLINE MARKETING</a></li>
											<li><a href="#">BUSINESS DEVELOPMENT</a></li>
											<li><a href="/web-designing">E-COMMERCE DEVELOPMENT</a></li>

										</ul>
									</div>
									<div class="col-sm-3">
										<ul class="contact">
											<h4>Help</h4>
												<li><a href="/prices">PRICING</a></li>
												<li><a href="/about">ABOUT US</a></li>
												<!--<li><a href="/knowledgebase">Knowledgebase</a></li>-->
												<li><a href="/contacts">CONTACT US</a></li>
											</ul>
									</div>
									<div class="col-sm-4">
										<div class="contact-details">
											<ul class="contact">
												<h4>Contact Us</h4>
												<li><p><i class="icon icon-map-marker"></i> <strong>Address: </strong> Level One Building Block 7/8, Galway Technology Park, Parkmore, Galway, H91 E309, Ireland.</p></li>
												<li><p><i class="icon icon-phone"></i> <strong>Phone: </strong> +353-91-680-103</p></li>
												<li><p><i class="icon icon-envelope"></i> <strong>E-mail: </strong> <a href="/contacts">Contact Us</a></p></li>
											</ul>
										</div>
									</div>
									<div class="col-sm-2">
										<div class="social-icons">
											<ul class="social-icons contact">
												<h4>Follow Us</h4>
												<li class="facebook"><a href="https://www.facebook.com/" target="_blank" data-placement="bottom" data-toggle="tooltip" title="Facebook">Facebook</a></li>
												<li class="twitter"><a href="https://www.twitter.com/" target="_blank" data-placement="bottom" data-toggle="tooltip" title="Twitter">Twitter</a></li>
												<li class="googleplus"><a href="https://plus.google.com/117706847987097855722/posts" target="_blank" data-placement="bottom" data-toggle="tooltip" title="Google Plus">Google Plus</a></li>
											</ul>

										</div>
									</div>
								</div>
								<div class="row" id="footer-copyright">
										<div class="span1">
											<a href="/" class="logo">

											</a>
										</div>
										<div class="cpy">
											<p>&copy; Copyright 2017 by SUNRISETECH. All Rights Reserved.</p>
										</div>
								</div>
							</div>
						</footer>
			
		</div>
	</section>		

</body>
</html>
 