
	<section>
		<div class="container">
				<div class="row">
					<div id="ctr">
						<div class="img-column">
							<a class="serv-image"  href="assets/event/seo.jpg">
								<img src="assets/event/seo.jpg" alt="seo image" class="img-block">
							</a>
						</div>
					</div>
				</div>
				<!-- text block -->	
				<div class="row">
					<div class="business-block">
						<div class="inner-bus-block">
							<p class="cnt-head">We believe in quality services and customer satisfaction</p>
							<p class="cnt" >We, at Sunrise Tech are well-known for providing the best SEO services in the market because we follow the strict guidelines and policies for the benefits of our customers. </p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
			            <div class="smooth-heading">
			              <h1 class="cnt-head">Here are the things we work upon:</h1>
			              <div style="float:left"><ul class="list-block"><li class="seo-list cnt"><p >Enhancing the quality of content and information.</p></li>
						  		<li class="seo-list cnt"><p>Representing information via graphs or pictures.</p></li>
								<li class="seo-list cnt"><p>Providing innovative and world-class services.</p></li>
								<li class="seo-list cnt"><p>Receiving feedback from customers. </p></li>
								<li class="seo-list cnt"><p >Enhancing lead conversion via multiple techniques.</p></li>
								<li class="seo-list cnt"><p >Analysing back links by error detection.</p></li>

													
						  </ul>
							</div>
					  
		            	</div>
		          	</div>
		        </div>

		        <div class="row">
					<div class="col-md-12">
			            <div class="smooth-heading">
			              <h1 class="cnt-head">Our valuable services that is helpful to stand out on the internet:</h1>
			              <div style="float:left"><ul class="list-block"><li class="seo-list cnt"><p >Business SEO Services</p></li>
						  		<li class="seo-list cnt"><p>SEO Services</p></li>
								<li class="seo-list cnt"><p>Providing innovative and world-class services.</p></li>
								<li class="seo-list cnt"><p>Web Designing</p></li>
								<li class="seo-list cnt"><p >SMO services</p></li>
								<li class="seo-list cnt"><p >Off-page Optimization</p></li>
								<li class="seo-list cnt"><p >Online Marketing</p></li>

													
						  </ul>
							</div>
					  
		            	</div>
		          	</div>
		        </div>
		        <div class="row">
		        	<div class="cnt">
		        		<p>Feel free to get in touch with us and avail our best services at cheaper prices. </p>
		        	</div>
		        </div>
				<!-- contact block -->
				<div id="contact-section">   
				        <div id="contact" class="row">
				          <div class="col-sm-6 contact-form">
				          	<h2 id ="contact-header">Contact</h2>
				          	<%= render "contactform" %>
				           
				          </div>
				          <div class="col-sm-6 contact-content">
				            <div class="company-name">
				            	<h2>Sunrise Tech Pvt Ltd.</h2>
				            </div>
				            <ul style="list-style-type:none;">
				              
				              <li class="col-sm-12" >
				                <div class="col-sm-1"><img src="assets/img/phone.png" /></div>
				                <div class="col-sm-11"><h3>Phone: 09582806048</h3>
				                 <h3> Landline: 0120-4214850</h3>
				                </div>
				              </li>
				              <li class="col-sm-12">
				                <div class="col-sm-1"><img src="assets/img/email.png" /></div>
				                <div class="col-sm-11 "><h3>Email: mic@sunrisetech.in</h3></div>
				              </li>
				              <li class="col-sm-12">
				                <div class="col-sm-1"><img src="assets/img/website.png" /></div>
				                <div class="col-sm-11"><h3>Website: <a href="http://sunrisetech.herokuapp.com/">www.sunrisetech.in</h3></a></div>
				              </li>
				            </ul>
				          </div>
				        </div>
				    </div>                    
			
		</div>
	</section>		

