	<section>
		<div class="container">
				<div class="row">
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
				  	<!-- Indicators -->
					    <ol class="carousel-indicators">
						    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						    <li data-target="#myCarousel" data-slide-to="1"></li>
						    <li data-target="#myCarousel" data-slide-to="2"></li>
						   <!--  <li data-target="#myCarousel" data-slide-to="3"></li> -->
					    </ol>

				  		<!-- Wrapper for slides -->
					  	<div class="carousel-inner" role="listbox">
						    <div class="item active">
						      <img class="img-block"  src="assets/event/seo.jpg">
						    </div>

						    <div class="item">
						      <img class="img-block" src="assets/event/Business.jpg">
						    </div>

						    <div class="item">
						      <img class="img-block" src="assets/event/web-design.jpg">
						    </div>
						   <!--  <div class="item">
						      <img class="img-block"  src="assets/event/b11.jpg" >
						    </div> -->
					 	</div>
						<!-- Left and right controls -->
					  	<!-- <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
					  		<img class="left-slide slide-image" src="assets/img/img-left.png">
						    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						    <span class="sr-only"></span>
					  	</a> -->
		  				<!-- <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
						  	<img class="right-slide slide-image" src="assets/img/img-right.png" >
						    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						    <span class="sr-only"></span>
		  				</a> -->
					</div>
				</div>
			<div id="bck1">	
				<div class="row">
					<div class="business-block">
						<div class="inner-bus-block">
							<p class="cnt-head">Present your business online with Digital Marketing services</p>
							<p class="cnt" >Since we are living in the digital era, so digital presence of the business matters a lot as compared to physical presence of the business. Because of the advent of Internet, people prefer to look for their basic needs on internet only. Therefore, it has become important for every business to make their reputation online so as to stand among other competitive businesses. <br><br>Presenting yourself online on the top is only possible with the help of digital marketing services that promote your business on the internet. At Sunrise Tech, we have a team of highly experienced digital marketing specialists who are capable of taking your business to the great heights by ranking your business on top on the internet.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="service-block">
						<div class="inner-ser-block">
							<p class="cnt-head">Digital Marketing Services provided at Sunrise Tech:</p>
							<p class="cnt" >We at Sunrise Tech provide you the efficient and best web hosting services in India that makes it possible to activate your domain account just after few hours of payment process. 
							</p>
						</div>
					</div>
				</div>
			</div>
			<div id="bck2">
				<div class="row" id ="seo-section">
						    <div class="col-sm-4">
						    <!-- 	<div class="seo-serv rt">
						    		<a class="head-box"  href="assets/service/seoservice.png">
										<img src="assets/service/seoservice.png" alt="van_activation" class="img-responsive img-circle">
									</a>
									
								</div> -->
				                <!-- <img src="assets/img/right-arrow.jpg" id="right-arrow"/> -->
				              	<div class="rf-serv">Search Engine Optimization:
				              	</div>
				  
								<p class="about-serv">Optimizing a website to rank on the top of search engine result page (SERP), is termed as the process of Search Engine Optimization. So, we have a team of SEO specialists who provide the unmatched services to the business that ranks the business on the top of search engine result page whenever someone searches for the services provided by your business. </P>

							</div>
							<div class="col-sm-4">
						    	<!-- <div class="smo-ser rt">
						    		<a class="head-box"  href="assets/service/smoservice.jpeg">
										<img src="assets/service/smoservice.jpeg" alt="van_activation" class="img-responsive img-circle">
									</a

								</div> -->
								
				              	<div class="rf-serv">Social media optimization:
				              	</div>
				                
								<p class="about-serv">Optimizing business on the digital channels helps the businesses to grow and to increase the traffic on the website. We have a team of SMO specialists that generate marketing campaigns on the social media channels that helps to raise the growth of the business.</P>
							</div>
							<div class="col-sm-4">
						    	<!-- <div class="online-ser rt">
						    		<a class="head-box"  href="assets/service/online-marketing.png">
										<img src="assets/service/online-marketing.png" alt="van_activation" class="img-responsive img-circle">
									</a>
								</div> -->
								<!-- <img src="assets/img/right-arrow.jpg" id="right-arrow"/> -->
				              	<div class="rf-serv">Pay per click:
				              	</div>
				                
								<p class="about-serv">We also provide Pay per click services that targets specific traffic to the business’s website. PPC campaign at Sunrise Tech helps to enhance your sales by providing best conversion rates. <br>If you really want to enhance your business and want traffic online, then avail our best digital marketing services at affordable prices. We provide you the targeted audience to your brand’s website and assure to stand upon your expectations.</P>
							</div>
				</div>

			</div>
					<div id ="result-section">
					    <div class="row">
				            <div class="smooth-heading text-center">
				              <div class="cnt-head">Our Services Results</div>
				            </div>
				        </div>
				        	<div class="row" id="fst-row">
					          	<div class="col-sm-6 our-serv">
						          	<div class="col-sm-5">
						            	<img src="assets/service/smooth1.png" />
						            </div>	
							        <div class="col-sm-7">
							              <h4>A Finishing Touch After Proper Analysis</h4>
							              <p>Perform Proper evaluation <br>
							before providing solution. 
							              </p>
							        </div>
						        </div>    
					          	<div class="col-sm-6 our-serv">
					            	<div class="col-sm-5"> <img src="assets/service/smooth2.png" /></div>
					            		<div class="col-sm-7">
					              			<h4>Appropriate Claimed Work</h4>
					              			<p>Offer services as per the declaration.<br>
					 No hidden cost and compromise with quality.
					              			</p>
					            		</div>
					          	</div>
					        </div>
					        <div class="row" id="scnd-row">
					          	<div class="col-sm-6 our-serv">
					            	<div class="col-sm-5"><img src="assets/service/smooth3.png" /></div>
					            	<div class="col-sm-7">
						              	<h4>Fulfill Your Needs With Striking Features</h4>
						              	<p>Proffer superior quality service keeping <br>
					as per the requirement and need of business.
					              		</p>
					            	</div>
					          	</div>
					          	<div class="col-sm-6 our-serv">
					            	<div class="col-sm-5"><img src="assets/service/smooth4.png" /></div>
					            	<div class="col-sm-7">
					              		<h4>Maximum Outcome at Minimum Time</h4>
					              		<p>Attain timely consequence at every <br>
					second of watch
					              		</p>
					            	</div>
				          		</div>
				          	</div>
				          	<div class="row" id="third-row">
					          	<div class="col-sm-6 our-serv">
					            	<div class="col-sm-5"><img src="assets/service/smooth5.png" /></div>
							        <div class="col-md-7">
							        <h4>Grow Your Business in Right Direction</h4>
						            <p>SEO services with lead generation <br>
							strategies in optimum way	              </p>
							        </div>
					          	</div>
					          	<div class="col-sm-6 our-serv">
					            	<div class="col-sm-5"><img src="assets/service/smooth6.png" /></div>
					            	<div class="col-sm-7">
					              		<h4>Best SEO experts</h4>
					              		<p>Team of highly experienced and <br>
											skilled SEO experts
					              		</p>
					            	</div>
					            </div>
					        </div> 
					</div>
					<div id="contact-section">   
				        <div id="contact" class="row">
				          <div class="col-sm-6 contact-form">
				          	<h2 id ="contact-header">Contact</h2>
				          	<%= render "contactform" %>
				           
				          </div>
				          <div class="col-sm-6 contact-content">
				            <div class="company-name">
				            	<h2>Sunrise Tech Pvt Ltd.</h2>
				            </div>
				            <ul style="list-style-type:none;">
				              
				              <li class="col-sm-12" >
				                <div class="col-sm-1"><img src="assets/img/phone.png" /></div>
				                <div class="col-sm-11"><h3>Phone: 09582806048</h3>
				                 <h3> Landline: 0120-4214850</h3>
				                </div>
				              </li>
				              <li class="col-sm-12">
				                <div class="col-sm-1"><img src="assets/img/email.png" /></div>
				                <div class="col-sm-11 "><h3>Email: mic@sunrisetech.in</h3></div>
				              </li>
				              <li class="col-sm-12">
				                <div class="col-sm-1"><img src="assets/img/website.png" /></div>
				                <div class="col-sm-11"><h3>Website: <a href="http://sunrisetec.herokuapp.com/">www.sunrisetech.in</h3></a></div>
				              </li>
				            </ul>
				          </div>
				        </div>
				    </div>
		</div>
	</section>				

 