<section>
		<div class="container">
				<div class="row " id="ctr">
					<div class="img-column">
						<a class="serv-image"  href="assets/event/seo.jpg">
							<img src="assets/event/seo.jpg" alt="seo image" class="img-block">
						</a>
					</div>
				</div>
				<div class="row">
					<div class="business-block">
						<div class="inner-bus-block">
							<p class="cnt-head">Affordable SEO Packages</p>
							<p class="cnt" >Let your business achieve success and stand in the competitive market by availing potential SEO strategies and techniques. Hire our affordable SEO packages to enhance the presence of your business online and to increase sales of your business. </p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="business-block">
						<div class="inner-bus-block">
							<p class="cnt-head">We believe in quality services and customer satisfaction</p>
							<p class="cnt" >We, at Sunrise Tech are well-known for providing the best SEO services in the market because we follow the strict guidelines and policies for the benefits of our customers. </p>
						</div>
					</div>
				</div>
				<div class="row">
		        	<div class="cnt">
		        		<strong><p>Feel free to get in touch with us and avail our best services at cheaper prices. </p></strong>
		        	</div>
		        </div>
		        <div class="row ">
		        	<div class="col-sm-2">
		        	</div>
		        	<div class="col-sm-8 ">
						<%= render "form" %>
					</div>
					<div class="col-sm2">
					</div>
				</div>
		</div>
</section>