
	<section>
		<div class="container">
			<div class="row">
				<div class="row">

					<div id="ctr">
						<div class="img-column">
							<a class="serv-image"  href="assets/event/Business.jpg">
								<img src="assets/event/Business.jpg" alt="smo" class="img-block">
							</a>
						</div>
					</div>

				</div>
<!-- 				<div class="row">
					<div id="srv-blk">	
						<div class="row">
						    <div class="col-lg-4">
						    	<div class="seo-serv rt">
						    		<a class="head-box"  href="assets/service/seoservice.png">
										<img src="assets/service/seoservice.png" alt="van_activation" class="img-responsive img-circle">
									</a>
									
								</div>
								<p class="serv-head">SEO SERVICES</p>
								<p class="about-serv">WE PROVIDE BESTSEARCH ENGINE OPTIMIZATION.</P>
							</div>
							<div class="col-lg-4">
						    	<div class="smo-ser rt">
						    		<a class="head-box"  href="assets/service/smoservice.jpeg">
										<img src="assets/service/smoservice.jpeg" alt="van_activation" class="img-responsive img-circle">
									</a>

								</div>
								<p class="serv-head">SMO SERVICES</p>
								<p class="about-serv">WE PROVIDE BEST SOCIAL MEDIA OPTIMIZATION</P>
							</div>
							<div class="col-lg-4">
						    	<div class="online-ser rt">
						    		<a class="head-box"  href="assets/service/online-marketing.png">
										<img src="assets/service/online-marketing.png" alt="van_activation" class="img-responsive img-circle">
									</a>
								</div>
								<p class="serv-head">ONLINE MARKETING</p>
								<p class="about-serv">PROVIDE ONLINE SUITABLE MARKETING AT RESONABLE PRICE.</P>
							</div>
						</div>

						<div class="col-lg-12">
						    <div class="col-lg-4">
						    	<div class="ecom-ser rt">
						    		<a class="head-box"  href="assets/service/e-commerce.png">
										<img src="assets/service/e-commerce.png" alt="van_activation" class="img-responsive img-circle">
									</a>
								</div>
								<p class="serv-head">E-COMMERCE SERVICE</p>
								<p class="about-serv">WE PROVIDE E-COMMERCE WEB DESIGN SERVICES BY WHICH YOU CAN EXPLORE YOUR BUSINESS.</P>
							</div>
							<div class="col-lg-4">
						    	<div class="bus-dev rt">
						    		<a class="head-box"  href="assets/service/business-dev.png">
										<img src="assets/service/business-dev.png" alt="van_activation" class="img-responsive img-circle">
									</a>
								</div>
								<p class="serv-head">BUSINESS DEVELOPMENT</p>
								<p class="about-serv">PROVIDE BUSINESS DEVELOPMENT STRATEGIES BY WHICH YOU CAN BUILT YOUR BUSINESS BEST IN THE WORLD.</P>
							</div>
							<div class="col-lg-4">
						    	<div class="web-ser rt">
						    		<a class="head-box"  href="assets/service/web-development.png">
										<img src="assets/service/web-development.png" alt="van_activation" class="img-responsive img-circle">
									</a>
								</div>
								<p class="serv-head">WEB DEVELOPMENT</p>
								<p class="about-serv">WE DEVELOP ANY TYPE OF WEBSITES ACCORDING TO THE CLIENT REQUIREMENT'S.</P>
							</div>
						</div>
					</div>
				</div> -->
				<div class="row">
					<div class="business-block">
						<div class="inner-bus-block">
							<p class="cnt-head">We believe in quality services and customer satisfaction</p>
							<p class="cnt" >We, at Sunrise Tech are well-known for providing the best SEO services in the market because we follow the strict guidelines and policies for the benefits of our customers. </p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
			            <div class="smooth-heading">
			              <h1 class="cnt-head">Here are the things we work upon:</h1>
			              <div style="float:left"><ul class="list-block"><li class="seo-list cnt"><p >Enhancing the quality of content and information.</p></li>
						  		<li class="seo-list cnt"><p>Representing information via graphs or pictures.</p></li>
								<li class="seo-list cnt"><p>Providing innovative and world-class services.</p></li>
								<li class="seo-list cnt"><p>Receiving feedback from customers. </p></li>
								<li class="seo-list cnt"><p >Enhancing lead conversion via multiple techniques.</p></li>
								<li class="seo-list cnt"><p >Analysing back links by error detection.</p></li>

													
						  </ul>
							</div>
					  
		            	</div>
		          	</div>
		        </div>

		        <div class="row">
		        	<div class="cnt">
		        		<p>Feel free to get in touch with us and avail our best services at cheaper prices. </p>
		        	</div>
		        </div>
				<div id="contact-section">   
				        <div id="contact" class="row">
				          <div class="col-sm-6 contact-form">
				          	<h2 id ="contact-header">Contact</h2>
				          	<%= render "contactform" %>
				           
				          </div>
				          <div class="col-sm-6 contact-content">
				            <div class="company-name">
				            	<h2>Sunrise Tech Pvt Ltd.</h2>
				            </div>
				            <ul style="list-style-type:none;">
				              
				              <li class="col-sm-12" >
				                <div class="col-sm-1"><img src="assets/img/phone.png" /></div>
				                <div class="col-sm-11"><h3>Phone: 09582806048</h3>
				                 <h3> Landline: 0120-4214850</h3>
				                </div>
				              </li>
				              <li class="col-sm-12">
				                <div class="col-sm-1"><img src="assets/img/email.png" /></div>
				                <div class="col-sm-11 "><h3>Email: mic@sunrisetech.in</h3></div>
				              </li>
				              <li class="col-sm-12">
				                <div class="col-sm-1"><img src="assets/img/website.png" /></div>
				                <div class="col-sm-11"><h3>Website: <a href="http://sunrisetec.herokuapp.com/">www.sunrisetech.in</h3></a></div>
				              </li>
				            </ul>
				          </div>
				        </div>
				    </div>  
			</div>
		</div>
	</section>		

 