
	<section>
		<div class="container">
			<!-- image block -->
				<div class="row">
					<div id="ctr">
						<div class="img-column">
							<a class="serv-image"  href="assets/event/web-design.jpg">
								<img src="assets/event/web-design.jpg" alt="web-designing" class="img-block">
							</a>
						</div>
					</div>
				</div>

		<!-- design contect block -->
		        
				<div class="row">
					<div class="col-md-12">
			            <div class="smooth-heading">
			              <h1 class="cnt-head">Web Designing Services at Sunrise Tech</h1>
			              <div style="float:left"><ul><li class="seo-list cnt"><p style="margin-left:30px;">Static Web Design:<br>
Get a static website designed by us that can make your presence online on the internet. We are capable of designing eye-catching static websites that increase the chances of the productivity of your business. Present your business online with static websites. </p></li>
						  		<li class="seo-list cnt"><p style="margin-left:30px; ">Custom Web Design:<br>
We, at Sunrise Tech can design a website as per your needs, i.e. website specifically based on your business. Our team of designers go well through your business profile to design an innovative website for you. </p></li>
								<li class="seo-list cnt"><p style="margin-left:30px; ">E-commerce web design:<br>
If you have decided to start your e-commerce business, we help you to design a best e-commerce website for you that can showcase all your products you are going to sell in an innovative manner. </p></li>
								<li class="seo-list cnt"><p style="margin-left:30px;">Dynamic web design:<br>
The content present on the static website may become inactive after sometime because of its basic nature, but the content or look of the dynamic website can be changed as per your preference. So, dynamic website is usually preferable for large scale business. </p></li>
								<li class="seo-list cnt"><p style="margin-left:30px;">Responsive web design:<br>
Since nowadays people use various types of gadgets like mobile phones, tablets, etc., so a website should be able to look same on every platform. Therefore, responsive web design is the best web design that you should look for your business.  </p></li>
								
								
						  </ul><br>
							</div>
					  
		            	</div>
		          	</div>
		        </div>
		        <div id="bck2">
		        <div class="row">
		          <div class="col-md-12 centered text-center">
		            <div class="internet-use">
					<h1 class="cnt-head">Designing a customer driven website for your business</h1>
		             <p class="cnt">In today’s digital era, every business requires to show their presence online on the internet so as to take their business to great heights. Therefore, we at Sunrise Tech create a bridge between your business goals and audience by designing an innovative website. We take care to design a customer-driven website for your business. Whether you wish to get a static, responsive, dynamic or e-commerce website designed, we have a team of highly skilled web designers who are proficient in designing all types of websites.</p>
		            </div>
		          </div>
		        </div>

		        <div class="row">
		        	<div class="col-md-12">
		        		<p class="cnt">At Sunrise Tech, we have a team of highly skilled web designers and developers who help you to achieve your business goals via website. >
		        		</p> 
		        	</div>
		       	</div>
		       	</div> 
<!-- contact block -->
				<div id="contact-section">   
				        <div id="contact" class="row">
				          <div class="col-sm-6 contact-form">
				          	<h2 id ="contact-header">Contact</h2>
				          	<%= render "contactform" %>
				           
				          </div>
				          <div class="col-sm-6 contact-content">
				            <div class="company-name">
				            	<h2>Sunrise Tech Pvt Ltd.</h2>
				            </div>
				            <ul style="list-style-type:none;">
				              
				              <li class="col-sm-12" >
				                <div class="col-sm-1"><img src="assets/img/phone.png" /></div>
				                <div class="col-sm-11"><h3>Phone: 09582806048</h3>
				                 <h3> Landline: 0120-4214850</h3>
				                </div>
				              </li>
				              <li class="col-sm-12">
				                <div class="col-sm-1"><img src="assets/img/email.png" /></div>
				                <div class="col-sm-11 "><h3>Email: mic@sunrisetech.in</h3></div>
				              </li>
				              <li class="col-sm-12">
				                <div class="col-sm-1"><img src="assets/img/website.png" /></div>
				                <div class="col-sm-11"><h3>Website: <a href="http://sunrisetech.herokuapp.com/">www.sunrisetech.in</h3></a></div>
				              </li>
				            </ul>
				          </div>
				        </div>
				    </div>  


		</div>
	</section>		
	