 <!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
 <html lang="en"> <!--<![endif]-->
<head>
	<title>SUNRISETECH</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">	
  <link href="assets/bootstrap.min.css" type="text/css" rel="stylesheet" /> 
  <link href="assets/custom.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="/assets/bootstrap.js"></script>
  <script type="text/javascript" src="/assets/jquery-2.2.4.js"></script> 
</head>
<body>
	<header>
		<div class="container">
			<div class="row">
				<div class="mob-media">
				  	<div id="mySidenav" class="sidenav mob-color">
						<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
						<li class="dropdown nav-list">
						<a class="dropdown" data-toggle="dropdown">
						SEO SERVICES <span class="caret"></span>
						</a>
						<ul class="mbshow">
							<li><a href="#" target="_blank">SEO IN DELHI</a></li>
							<li><a href="#" target="_blank">SEO IN MUMBAI</a></li>
							<li><a href="#" target="_blank">SEO IN BANGLORE</a></li>
							<li><a href="#" target="_blank">SEO IN KOLKATA</a></li>
						</ul>
						</li>
				        <li class="nav-list"><a href="smo-services">SMO SERVICES</a></li>
				        <li class="nav-list"><a href="web-designing">WEBSITE DESIGN</a></li>
						<li class= "nav-list"><a href="prices">PRICING</a></li>
						<li class="nav-list"><a href="about">ABOUT US</a></li>
				        <li class="nav-list"><a href="contacts">CONTACT US</a></li>
					</div>
					<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
				</div>

				<div class=" header-main">
					<div class="header-top hd">
				        <div id="container">
				          <div id="logo"><a href="http://localhost:3000" title="SUNRISETECH IN PALWAL"><img src="assets/img/logo.png" /></a>
						  	<div id="contact-info">Call Us - 09992596677/01275-246464<br>Managed By Sunrise Services Pvt Ltd</div>
						  </div>
				        </div>
				    </div>
				    <div id="drop-down" >
						<ul class="nav nav-tabs">
						<li class="nav-list"id="hpd"><a href="http://localhost:3000" title="SUNRISETECH">HOME</a></li>
						<li class="dropdown nav-list">
						<a class="dropdown" data-toggle="dropdown">
						SEO SERVICES <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#" target="_blank">SEO IN DELHI</a></li>
							<li><a href="#" target="_blank">SEO IN MUMBAI</a></li>
							<li><a href="#" target="_blank">SEO IN BANGLORE</a></li>
							<li><a href="#" target="_blank">SEO IN KOLKATA</a></li>
						</ul>
						</li>
				        <li class="nav-list"><a href="smo-services">SMO SERVICES</a></li>
				        <li class="nav-list"><a href="web-designing">WEBSITE DESIGN</a></li>
						<li class= "active nav-list"><a href="prices">PRICING</a></li>
						<li class="nav-list"><a href="about">ABOUT US</a></li>
				        <li class="nav-list"><a href="contacts">CONTACT US</a></li>
				    </div>    
				</div>
			</div>
		</div>
	</header>
	<section>
		<div class="container">
			<div class="row">
				<div class="row " id="ctr">
					<div class="img-column">
						<a class="serv-image"  href="assets/event/seo.png">
							<img src="assets/event/seo.png" alt="seo image" class="img-block">
						</a>
					</div>
				</div>
				<!-- seo pricing block -->
				<div class="row" id="price-block">
					<div class="col-md-12">
					<h2 class="cnt-head">SEO Pricing</h2>
						<table class="table table-bordered">
					    <thead>
					      <tr>
					        <th class="price-head">Small</th>
					        <th class="price-head">Medium</th>
					        <th class="price-head">Business</th>
					      </tr>
					    </thead>
					    <tbody>
					      <tr>
					        <td class="cnt-list">INR 8,000 / Month + 15% Service Tax</td>
					        <td class="cnt-list">INR 12,000 / Month + 15% Service Tax</td>
					        <td class="cnt-list">INR 20,000 / Month + 15% Service Tax</td>
					        
					        </tr>
					        <tr>
					        <td class="cnt-list">10 Keywords</td>
					        <td class="cnt-list">20 Keywords</td>
					        <td class="cnt-list">30 Keywords</td>
					    </tr>
					    <tr>
					        <td class="cnt-list">per Months</td>
					        <td class="cnt-list">per Months</td>
					        <td class="cnt-list">per Months</td>
					    </tr>
					    <tr>
					        <td class="cnt-list">80% keywords top 10 Guarantee</td>
					          <td class="cnt-list">80% keywords top 10 Guarantee</td>
					            <td class="cnt-list">80% keywords top 10 Guarantee</td>
					        </tr>
					        <tr>
					        <td class="cnt-list">30 Directory Submissions</td>
					        <td class="cnt-list">50 Directory Submissions</td>
					        <td class="cnt-list">50+ Directory Submissions</td>
					    </tr>
					    <tr>
					        <td class="cnt-list">50 Social Bookmarking</td>
					        <td class="cnt-list">60 Social Bookmarking</td>
					        <td class="cnt-list">80 Social Bookmarking</td>
					    </tr>
					    <tr>
					        <td class="cnt-list">5 Article Submission</td>
					        <td class="cnt-list">5 Article Submission</td>
					        <td class="cnt-list">5 Article Submission</td>
					    </tr>
					    <tr>
					        <td class="cnt-list">1+ Blog</td>
					        <td class="cnt-list">2+ Blog</td>
					        <td class="cnt-list">3+ Blog</td>
					    </tr>
					    <tr>
					        <td class="cnt-list">15+ blog submission/Month</td>
					         <td class="cnt-list">20+ blog submission/Month</td>
					          <td class="cnt-list">35+ blog submission/Month</td>
					      </tr>
					      
					
					     
					    </tbody>
					  	</table>
					</div>
				</div>

	<!-- end pricing block -->
				<div class="row" id="footer">
				<footer id="ftr">
						<div class="col-sm-12 ftr1">
							<div class="row">
								<div class="col-sm-3 ">
									<ul class="contact">
										<h4>Services</h4>
										<li><a href="#">SEO SEVICES</a></li>
										<li><a href="/smo-services">SMO SERVICES</a></li>
										<li><a href="/web-designing">WEB DESIGNING</a></li>
										<li><a href="#">ONLINE MARKETING</a></li>
										<li><a href="#">BUSINESS DEVELOPMENT</a></li>
										<li><a href="/web-designing">E-COMMERCE DEVELOPMENT</a></li>

									</ul>
								</div>
								<div class="col-sm-3">
									<ul class="contact">
										<h4>Help</h4>
											<li><a href="/prices">PRICING</a></li>
											<li><a href="/about">ABOUT US</a></li>
											<!--<li><a href="/knowledgebase">Knowledgebase</a></li>-->
											<li><a href="/contacts">CONTACT US</a></li>
										</ul>
								</div>
								<div class="col-sm-4">
									<div class="contact-details">
										<ul class="contact">
											<h4>Contact Us</h4>
											<li><p><i class="icon icon-map-marker"></i> <strong>Address: </strong> Level One Building Block 7/8, Galway Technology Park, Parkmore, Galway, H91 E309, Ireland.</p></li>
											<li><p><i class="icon icon-phone"></i> <strong>Phone: </strong> +353-91-680-103</p></li>
											<li><p><i class="icon icon-envelope"></i> <strong>E-mail: </strong> <a href="/contacts">Contact Us</a></p></li>
										</ul>
									</div>
								</div>
								<div class="col-sm-2">
									<div class="social-icons">
										<ul class="social-icons">
											<h4>Follow Us</h4>
											<li class="facebook"><a href="https://www.facebook.com/" target="_blank" data-placement="bottom" data-toggle="tooltip" title="Facebook">Facebook</a></li>
											<li class="twitter"><a href="https://www.twitter.com/" target="_blank" data-placement="bottom" data-toggle="tooltip" title="Twitter">Twitter</a></li>
											<li class="googleplus"><a href="https://plus.google.com/117706847987097855722/posts" target="_blank" data-placement="bottom" data-toggle="tooltip" title="Google Plus">Google Plus</a></li>
										</ul>

									</div>
								</div>
							</div>
							<div class="row" id="footer-copyright">
									<div class="span1">
										<a href="/" class="logo">

										</a>
									</div>
									<div class="cpy">
										<p>&copy; Copyright 2017 by SUNRISETECH. All Rights Reserved.</p>
									</div>
							</div>
						</div>
					</div>	
				</footer>
				</div>
			</div>
		</div>
	</section>


</body>
</html>
 