
<html>
  <body>
  	<h2><strong>SUNRISETECH REGISTRATION</strong></h2><br><br>
    <p>Name: <%= @user[:name] %><br>
    Email: <%= @user[:email] %><br>
    Phone: <%= @user[:phone] %><br>
    Message: <%= @user[:message] %></p>
   
  </body>
</html>
