 <!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
 <html lang="en"> <!--<![endif]-->
<head>
	<title>SUNRISETECH</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">	
  <link href="assets/bootstrap.min.css" type="text/css" rel="stylesheet" /> 
  <link href="assets/custom.css" type="text/css" rel="stylesheet" />
  <link href="assets/home.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="/assets/bootstrap.js"></script>
  <script type="text/javascript" src="/assets/jquery-2.2.4.js"></script> 
  <script type="text/javascript" src="/assets/home.js"></script> 
</head>
<body>
	<div class="mob-media">
	  	<div id="mySidenav" class="sidenav">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<li class="dropdown nav-list">
			<a class="dropdown" data-toggle="dropdown">
			SEO SERVICES <span class="caret"></span>
			</a>
			<ul class="mbshow">
				<li><a href="#" target="_blank">SEO IN DELHI</a></li>
				<li><a href="#" target="_blank">SEO IN MUMBAI</a></li>
				<li><a href="#" target="_blank">SEO IN BANGLORE</a></li>
				<li><a href="#" target="_blank">SEO IN KOLKATA</a></li>
			</ul>
			</li>
	        <li class="nav-list"><a href="smo-services">SMO SERVICES</a></li>
	        <li class="nav-list"><a href="web-designing">WEBSITE DESIGN</a></li>
			<li class= "nav-list"><a href="prices">PRICING</a></li>
			<li class="nav-list"><a href="about">ABOUT US</a></li>
	        <li class="nav-list"><a href="contact">CONTACT US</a></li>
	</div>
		<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
	</div>
	<!-- <div class="dropdown">
	<button class="dropbtn">Dropdown</button>
	<div class="dropdown-content">
	  <a href="#" class="dropdown">Link 1</a>
	  <a href="#" class="dropdown">Link 2</a>
	  <a href="#" class="dropdown">Link 3</a>
	</div>
	</div> -->
	<div class=" header-main">
		<div class="header-top hd">
	        <div id="container">
	          <div id="logo"><a href="http://localhost:3000/" title="SUNRISETECH IN PALWAL"><img src="assets/img/logo.png" /></a>
			  	<div id="contact-info">Call Us - 09992596677/01275-246464<br>Managed By Sunrise Services Pvt Ltd</div>
			  </div>
	        </div>
	    </div>
	    <div id="drop-down" >
			<ul class="nav nav-tabs">
			<li class="active nav-list" id="hpd"><a href="http://localhost:3000/" title="SUNRISETECH">HOME</a></li>
			<li class="dropdown nav-list">
			<a class="dropdown" data-toggle="dropdown">
			SEO SERVICES <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#" target="_blank">SEO IN DELHI</a></li>
				<li><a href="#" target="_blank">SEO IN MUMBAI</a></li>
				<li><a href="#" target="_blank">SEO IN BANGLORE</a></li>
				<li><a href="#" target="_blank">SEO IN KOLKATA</a></li>
			</ul>
			</li>
	        <li class="nav-list"><a href="smo-services">SMO SERVICES</a></li>
	        <li class="nav-list"><a href="web-designing">WEBSITE DESIGN</a></li>
			<li class= "nav-list"><a href="prices">PRICING</a></li>
			<li class="nav-list"><a href="about">ABOUT US</a></li>
	        <li class="nav-list"><a href="contact">CONTACT US</a></li>
	    </div>    
	</div>
		<!-- 	<div class="container">
				<div class="img-column">
					<a class="head-box"  href="assets/img/photo_gallery/Events/IMG_0001.JPG">
						<img src="assets/event/home.png" alt="van_activation" class="custom-work-img">
					</a>
				</div>
			</div> -->
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
	    <ol class="carousel-indicators">
		    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		    <li data-target="#myCarousel" data-slide-to="1"></li>
		    <li data-target="#myCarousel" data-slide-to="2"></li>
		    <li data-target="#myCarousel" data-slide-to="3"></li>
	    </ol>

  	<!-- Wrapper for slides -->
	  	<div class="carousel-inner" role="listbox">
	    <!-- <div class="item active">
	      <img src="assets/event/home.png" alt="Chania">
	    </div>
	 -->
		    <div class="item active">
		      <img class="img-block"  src="assets/event/home.png">
		    </div>

		    <div class="item">
		      <img class="img-block" src="assets/event/seo.png">
		    </div>

		    <div class="item">
		      <img class="img-block" src="assets/event/web-design.jpg">
		    </div>
		    <div class="item">
		      <img class="img-block"  src="assets/event/home.png" >
		    </div>
	 	</div>

  <!-- Left and right controls -->
	  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
	  	<img class="left-slide slide-image" src="assets/img/img-left.png">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only"></span>
	  </a>
	  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	  	<img class="right-slide slide-image" src="assets/img/img-right.png" >
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only"></span>
	  </a>
	</div>
	<div class="business-block">
		<div class="inner-bus-block">
			<p class="cnt-head">OUR BUSINESS MOTIVE</p>
			<p class="cnt" >The esteemed and competent team of experts understands the requirement of clients, their brand and problems for giving a successful turn to their business with higher revenue.</p>
		</div>
	</div>
	<div class="service-block">
		<div class="inner-ser-block">
			<p class="cnt-head">OUR SERVICES</p>
			<p class="cnt" >We always young as technology & aim to understand your business and create quality digital products that help you succeed in your business.
			</p>
		</div>
	</div>
	<div id="srv-blk">	
		<div class="row">
		    <div class="col-lg-4">
		    	<div class="seo-serv rt">
		    		<a class="head-box"  href="assets/service/seoservice.png">
						<img src="assets/service/seoservice.png" alt="van_activation" class="img-responsive img-circle">
					</a>
					
				</div>
				<p class="serv-head">SEO SERVICES</p>
				<p class="about-serv">WE PROVIDE BESTSEARCH ENGINE OPTIMIZATION.</P>
			</div>
			<div class="col-lg-4">
		    	<div class="smo-ser rt">
		    		<a class="head-box"  href="assets/service/smoservice.jpeg">
						<img src="assets/service/smoservice.jpeg" alt="van_activation" class="img-responsive img-circle">
					</a>

				</div>
				<p class="serv-head">SMO SERVICES</p>
				<p class="about-serv">WE PROVIDE BEST SOCIAL MEDIA OPTIMIZATION</P>
			</div>
			<div class="col-lg-4">
		    	<div class="online-ser rt">
		    		<a class="head-box"  href="assets/service/online-marketing.png">
						<img src="assets/service/online-marketing.png" alt="van_activation" class="img-responsive img-circle">
					</a>
				</div>
				<p class="serv-head">ONLINE MARKETING</p>
				<p class="about-serv">PROVIDE ONLINE SUITABLE MARKETING AT RESONABLE PRICE.</P>
			</div>
		</div>

		<div class="col-lg-12">
		    <div class="col-lg-4">
		    	<div class="ecom-ser rt">
		    		<a class="head-box"  href="assets/service/e-commerce.png">
						<img src="assets/service/e-commerce.png" alt="van_activation" class="img-responsive img-circle">
					</a>
				</div>
				<p class="serv-head">E-COMMERCE SERVICE</p>
				<p class="about-serv">WE PROVIDE E-COMMERCE WEB DESIGN SERVICES BY WHICH YOU CAN EXPLORE YOUR BUSINESS.</P>
			</div>
			<div class="col-lg-4">
		    	<div class="bus-dev rt">
		    		<a class="head-box"  href="assets/service/business-dev.png">
						<img src="assets/service/business-dev.png" alt="van_activation" class="img-responsive img-circle">
					</a>
				</div>
				<p class="serv-head">BUSINESS DEVELOPMENT</p>
				<p class="about-serv">PROVIDE BUSINESS DEVELOPMENT STRATEGIES BY WHICH YOU CAN BUILT YOUR BUSINESS BEST IN THE WORLD.</P>
			</div>
			<div class="col-lg-4">
		    	<div class="web-ser rt">
		    		<a class="head-box"  href="assets/service/web-development.png">
						<img src="assets/service/web-development.png" alt="van_activation" class="img-responsive img-circle">
					</a>
				</div>
				<p class="serv-head">WEB DEVELOPMENT</p>
				<p class="about-serv">WE DEVELOP ANY TYPE OF WEBSITES ACCORDING TO THE CLIENT REQUIREMENT'S.</P>
			</div>
		</div>
	</div>	
	<div class="result-block">
	    <div class="row">
          <div class="col-md-12">
            <div class="smooth-heading text-center">
              <div class="cnt-head">Result oriented services</div>
              <div class="cnt">Points that separate us from pool of SEO Company Delhi</div>
            </div>
          </div>
        </div>
        <div class="row pnt-result">
        	<div id="fst-row">
	          	<div class="col-md-6 our-serv">
		          	<div class="col-md-4">
		            	<img src="assets/service/smooth1.png" />
		            </div>	
			        <div class="col-md-8">
			              <h4>A Finishing Touch After Proper Analysis</h4>
			              <p>Perform Proper evaluation <br>
			before providing solution. 
			              </p>
			        </div>
		        </div>    
	          	<div class="col-md-6 our-serv">
	            	<div class="col-md-4"> <img src="assets/service/smooth2.png" /></div>
	            		<div class="smooth-content">
	              			<h4>Appropriate Claimed Work</h4>
	              			<p>Offer services as per the declaration.<br>
	 No hidden cost and compromise with quality.
	              			</p>
	            		</div>
	          	</div>
	        </div>
	        <div id="scnd-row">
	          	<div class="col-md-6 our-serv">
	            	<div class="col-md-4"><img src="assets/service/smooth3.png" /></div>
	            	<div class="col-md-8">
		              	<h4>Fulfill Your Needs With Striking Features</h4>
		              	<p>Proffer superior quality service keeping <br>
	as per the requirement and need of business.
	              		</p>
	            	</div>
	          	</div>
	          	<div class="col-md-6 our-serv">
	            	<div class="col-md-4"><img src="assets/service/smooth4.png" /></div>
	            	<div class="col-md-8">
	              		<h4>Maximum Outcome at Minimum Time</h4>
	              		<p>Attain timely consequence at every <br>
	second of watch
	              		</p>
	            	</div>
          		</div>
          	</div>
          	<div id="third-row">
	          	<div class="col-md-6 our-serv">
	            	<div class="col-md-4"><img src="assets/service/smooth5.png" /></div>
			        <div class="col-md-8">
			        <h4>Grow Your Business in Right Direction</h4>
		            <p>SEO services with lead generation <br>
			strategies in optimum way	              </p>
			        </div>
	          	</div>
	          	<div class="col-md-6 our-serv">
	            	<div class="col-md-4"><img src="assets/service/smooth6.png" /></div>
	            	<div class="col-md-8">
	              		<h4>Best SEO experts</h4>
	              		<p>Team of highly experienced and <br>
							skilled SEO experts
	              		</p>
	            	</div>
	            </div>
	        </div>    
        </div>
    </div>
    <div class="contact-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 contact-heading">
            <h2>Contact</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 contact-form">
          	<!--  <!--  <%= render 'home/form' %> 
           <!--  <form action="check.php" method="post">
            <ul>
              <li><input type="text" placeholder="Name" name="name" required></li>
              <li><input type="email" placeholder="E-mail" name="email" required></li>
              <li><input type="tel" placeholder="Telephone" name="phone" required></li>
              <li><textarea placeholder="Detail" name="message"></textarea></li>
			  <li class="text-right"><input type="submit" value="SUBMIT" class="default-button"></li>
			</ul>

			</form> -->
          </div>
          <div class="col-md-6 contact-content">
            <div class="company-name">Sunrise Tech Pvt Ltd.</div>
            <ul>
              
              <li class="row" >
                <div class="col-md-1"><img src="assets/img/phone.png" /></div>
                <div class="col-md-11">Phone: 09582806048<br />
                  Landline: 0120-4214850
                </div>
              </li>
              <li class="row">
                <div class="col-md-1"><img src="assets/img/email.png" /></div>
                <div class="col-md-11 ">Email: sales@seoservicedelhi.in</div>
              </li>
              <li class="row">
                <div class="col-md-1"><img src="assets/img/website.png" /></div>
                <div class="col-md-11">Website: <a href="http://localhost:3000/">www.sunrisetech.in</a></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>    
	<div id="footer">
	<footer id="ftr">
			<div class="col-sm-12 ftr1">
				<div class="row">
					<div class="col-sm-3 ">
						<ul class="contact">
							<h4>Services</h4>
							<li><a href="/company/about/">SEO SEVICES</a></li>
							<li><a href="/company/how-it-works/">SMO SERVICES</a></li>
							<li><a href="/free-training/terms-and-condition">WEB DESIGNING</a></li>
							<li><a href="/company/news/">ONLINE MARKETING</a></li>
							<li><a href="/free-online-courses/">BUSINESS DEVELOPMENT</a></li>
							<li><a href="/free-training/terms-and-conditions-policy">E-COMMERCE DEVELOPMENT</a></li>

						</ul>
					</div>
					<div class="col-sm-3">
						<ul class="contact">
							<h4>Help</h4>
								<li><a href="/prices">PRICING</a></li>
								<li><a href="/about">ABOUT US</a></li>
								<!--<li><a href="/knowledgebase">Knowledgebase</a></li>-->
								<li><a href="/contact">CONTACT US</a></li>
							</ul>
					</div>
					<div class="col-sm-4">
						<div class="contact-details">
							<ul class="contact">
								<h4>Contact Us</h4>
								<li><p><i class="icon icon-map-marker"></i> <strong>Address: </strong> Level One Building Block 7/8, Galway Technology Park, Parkmore, Galway, H91 E309, Ireland.</p></li>
								<li><p><i class="icon icon-phone"></i> <strong>Phone: </strong> +353-91-680-103</p></li>
								<li><p><i class="icon icon-envelope"></i> <strong>E-mail: </strong> <a href="/contact">Contact Us</a></p></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="social-icons">
							<ul class="social-icons contact">
								<h4>Follow Us</h4>
								<li class="facebook"><a href="https://www.facebook.com/" target="_blank" data-placement="bottom" data-toggle="tooltip" title="Facebook">Facebook</a></li>
								<li class="twitter"><a href="https://www.twitter.com/" target="_blank" data-placement="bottom" data-toggle="tooltip" title="Twitter">Twitter</a></li>
								<li class="googleplus"><a href="https://plus.google.com/117706847987097855722/posts" target="_blank" data-placement="bottom" data-toggle="tooltip" title="Google Plus">Google Plus</a></li>
							</ul>

						</div>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					<div class="row">
						<div class="span1">
							<a href="/" class="logo">

							</a>
						</div>
						<div class="cpy">
							<p>&copy; Copyright 2017 by SUNRISETECH. All Rights Reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</footer>
	</div>				
</body>
</html>
 