<h1>SMO <!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
 <html lang="en"> <!--<![endif]-->
<head>
	<title>SUNRISETECH</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">	
  <link href="assets/bootstrap.min.css" type="text/css" rel="stylesheet" /> 
  <link href="assets/custom.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="/assets/bootstrap.js"></script>
  <script type="text/javascript" src="/assets/jquery-2.2.4.js"></script> 
</head>
<body>
	<!-- <div class="dropdown">
	<button class="dropbtn">Dropdown</button>
	<div class="dropdown-content">
	  <a href="#" class="dropdown">Link 1</a>
	  <a href="#" class="dropdown">Link 2</a>
	  <a href="#" class="dropdown">Link 3</a>
	</div>
	</div> -->
	<div class=" header-main">
		<div class="header-top">
	        <div class="container">
	          <a href="#" title="SUNRISETECH IN PALWAL"><img src="assets/logo.png" /></a>
			  <div class="right-side">Call Us - 09992596677/01275-246464<br>Managed By Sunrise Services Pvt Ltd</div>
	        </div>
	    </div>
		<ul class="nav nav-tabs">
		<li class="active"><a href="http://www.seoservicedelhi.in/" title="SEO Company Delhi">HOME</a></li>
		<li class="dropdown">
		<a class="dropdown" data-toggle="dropdown">
		SEO SERVICES <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="#" target="_blank">ANIMALS</a></li>
			<li><a href="#" target="_blank">NATURE</a></li>
			<li><a href="#" target="_blank">ACTRESS</a></li>
			<li><a href="#" target="_blank">ACTORS</a></li>
		</ul>
		</li>
        <li><a href="smo-services.html">SMO SERVICES</a></li>
        <li><a href="web-designing.html">WEBSITE DESIGN</a></li>
		<li><a href="pricing.html">PRICING</a></li>
		<li><a href="about.html">ABOUT US</a></li>
        <li><a href="contact.html">CONTACT US</a></li>
	</div>
	

</body>
</html>
 </h1>