.img-block{
  width: 100%;
}
.hd{
	background: #2abcf2;
	color: white;
}
#hpd{
	margin-left: 63px;
}
#contact-info{
	float: right;
	padding: 7px;
}
#logo{
	padding: 10px;
}
#container{
	background-color: #FAAA;
}
#drop-down{

}
.nav-list{
	font-size: 14px;
}
.nav-list li a:hover{
	color: brown;
}
.nav-list a{
	color: #333333;
}
.nav-list a:hover{
    color: brown ;
    background-color: transparent !important;
    
}
.dropdown:hover .dropdown-menu{
  display: block !important;

}

.cpy{
	text-align: center;
    font-family: initial;
    font-style: oblique;
    color: #7A7A7A;
    margin-top: 30px;
}
.ftr1{
  background: #252525;
}
.ftr1 h4{
font-size: 25px;
color: whitesmoke;
}
.ftr1 li{
  color: transparent;
}
.ftr1 li a{
  color: #808283;
}
.contact p{
  color: #808283;
}
.contact{
	 margin-top: 35px;
}
.contact li{
	padding-top: 5px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/* mobile view */
@media (max-width: 575px){
	.mob-media{
		display: block;
	}
	.header-main{
		display: none;
	}
	.sidenav a{
		font-size: 12px;
	}
	.carousel-indicators{
		display: none;
	}
	.slide-image{
		display: none;
	}

}
/* desktop view */
@media (min-width: 576px){
	.header-main{
		display: block;
	}
	.mob-media{
		display: none;
	}
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#cnt-main{
  text-align: center;
}
.fm{
    width: 70%;
    height: 48px;
}
.contact-section{
  background-color: whitesmoke ;
}
.cnt-head{
font-size: 38px;
font-weight: lighter;
font-family: neouthin;
text-align: center;
text-transform: uppercase;
color: #d12527;
margin-top: 40px;
line-height: 1;
padding: 10px;
}
.cnt{
font-family: neouthin;
text-align: center;
padding: 5px;
text-transform: uppercase;
font-size: 22px;
color: #8E91A0;
margin-top: 0px;
font-weight: lighter;
text-rendering: optimizeLegibility;
}
.cnt-list{
font-family: neouthin;
text-transform: uppercase;
font-size: 22px;
color: #8E91A0;
font-weight: lighter;
text-rendering: optimizeLegibility;
}
.price-head{
font-size: 18px;
font-family: neouthin;
text-transform: uppercase;
color: #d12527;
margin-top: 40px;
line-height: 1;
padding: 10px;
font-weight: 600;
font-style: oblique;
}

#price-block{
  width: 90%;
  margin-left: 5%;
}