.slide-image{
width: 30px;
margin-top: 223px;
}
.nav-tabs {
     border-bottom: none !important;
}
#logo{
  text-align: initial;
  font-size: 24px;
  font-family: neoubold;
  color: white;
  text-transform: uppercase;
  margin-top: 10px;
  margin-left: 10px;
}
.hdr{
  float: right;
  margin-right: 4%;
  margin-top: 2%;
}
/*div .rt{
  width:160px;
  height:160px;
  border:#cecece;
  margin-left: 9%;
  margin-top: 4%;
  position:relative;
  content: "";
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}*/
/*div.rt:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  transform: rotate(360deg);
} */ 
.serv-head{
  text-align: initial;
  font-size: 24px;
  font-family: neoubold;
  color: #333333;
  text-transform: uppercase;
  margin-top: 10px;
  margin-left: 40px;
}

.about-serv{
  text-align: initial;
  font-size: 14px;
  margin-bottom: 10px;
  margin-left: 1%;
  font-family: neouthin;
  text-transform: uppercase;
  color: #8E91A0;
  margin-top: 1%;
  font-weight: lighter;
  text-rendering: optimizeLegibility;
}  
.glyphicon{
  display: none !important;
}
.our-serv{
  padding-left: 10%;
  margin-top: 30px;
}
#ftr{
  margin-top: 40px;
}
.pnt-result{
  margin-top: 30px;
}
/*contact form*/
/*.contact-form{
  text-align: center;
} */



.img-block{
  width: 100%;
}
.hd{
	background: #df4539;
	color: white;
  height: 82px;
}
#hpd{
	margin-left: 63px;
}
#contact-info{
	float: right;
	padding: 7px;
}
#logo{
	padding: 10px;
}
#container{
	background-color: #FAAA;
}
#drop-down{

}
.nav-list{
	font-size: 14px;
}
.nav-list li a:hover{
	color: brown;
}
.nav-list a{
	color: #333333;
}
.nav-list a:hover{
    color: brown ;
    background-color: transparent !important;
    
}
.dropdown:hover .dropdown-menu{
  display: block !important;
  background-color: #df4539;

}

.cpy{
	text-align: center;
    font-family: initial;
    font-style: oblique;
    color: #7A7A7A;
    margin-top: 15px;
}
.ftr1{
  background: #252525;
}
.ftr1 h4{
font-size: 25px;
color: whitesmoke;
}
.ftr1 li{
  color: transparent;
}
.ftr1 li a{
  color: #808283;
}
.contact p{
  color: #808283;
}
.contact{
	 margin-top: 35px;
}
.contact li{
	padding-top: 5px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/* mobile view */
@media (max-width: 575px){
	.mob-media{
		display: block;
    background-color: white;
	}
	.header-main{
		display: none;
	}
	.sidenav a{
		font-size: 12px;
	}
	.carousel-indicators{
		display: none;
	}
	.slide-image{
		display: none;
	}
  .cnt-head {
    font-size: 20px;
    font-weight: lighter;
    font-family: neouthin;
    text-transform: uppercase;
    color: #d12527;
    margin-top: 5%;
    line-height: 1;
    margin-left: 2%;
  }
  .cnt{
  font-family: neouthin;
  margin-left: 15px;
  text-transform: uppercase;
  font-size: 12px;
  color: #8E91A0;
  margin-top: 1%;
  margin-left: 2%;
  font-weight: lighter;
  text-rendering: optimizeLegibility;
  }
  .rt{
    display: none;
  }
  #right-arrow{
    width: 10%;
  }
  .col-sm-4{
    padding-left: 0px !important;
  }
  .rf-serv{
    font-size: 16px;
    font-weight: lighter;
    font-family: neouthin;
    text-transform: uppercase;
    color: #d12527;
    line-height: 1;
  }
  .about-serv{
  font-size: 11px;
  margin-left: 11%;
  }
  .text-center {
    text-align: left;
    margin-left: 2%;
  } 
  #contact-form-view{
    margin-left: 0px !important;
  }
  .fm{
    width: 100% !important;
  }
}
/* desktop view */
@media (min-width: 576px){
	.header-main{
		display: block;
	}
	.mob-media{
		display: none;
	}
  #right-arrow{
    display: none;
  }
  .cnt-head{
  font-size: 38px;
  font-weight: lighter;
  font-family: neouthin;
  text-align: center;
  text-transform: uppercase;
  color: #d12527;
  margin-top: 40px;
  line-height: 1;
  padding: 10px;
  }
  .cnt{
  font-family: neouthin;
  padding: 5px;
  margin-left: 15px;
  text-transform: uppercase;
  font-size: 22px;
  color: whitesmoke;
  margin-top: 0px;
  font-weight: lighter;
  text-rendering: optimizeLegibility;
  }
  .rf-serv{
 font-size: 30px;
  font-weight: lighter;
  font-family: neouthin;
  text-align: center;
  text-transform: uppercase;
  color: slategray;
  margin-top: 40px;
  line-height: 1;
  padding: 10px;
  }
  .about-serv{
    font-family: neouthin;
  padding: 10px;
  text-transform: uppercase;
  font-size: 18px;
  color: whitesmoke;
  margin-top: 0px;
  font-weight: lighter;
  text-rendering: optimizeLegibility;
  }
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#cnt-main{
  text-align: center;
}
.fm{
    width: 70%;
    height: 48px;
}
#seo-section{
}
#result-section{
  margin-bottom: 23px;
  background-color: #ffffff;
}
#contact-section{
  background-color: whitesmoke ;
}
#home-button{
    margin-bottom: 16px;
}


.cnt-list{
font-family: neouthin;
text-transform: uppercase;
font-size: 22px;
color: #8E91A0;
font-weight: lighter;
text-rendering: optimizeLegibility;
}
.price-head{
font-size: 18px;
font-family: neouthin;
text-transform: uppercase;
color: #d12527;
margin-top: 40px;
line-height: 1;
padding: 10px;
font-weight: 600;
font-style: oblique;
}

#price-block{
  width: 90%;
  margin-left: 5%;
}

.mob-color{
  background-color: white;
}
#contact-form-view{
  margin-left: 15px;
}

#contact-header{
  padding-left: 2%;
}

#bck1{
   background-image: url("event/b1.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
}
#bck2{
   background-image: url("event/b10.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.rt{
  margin-top: 17%;
}

