.hd{
	background: #2abcf2;
	color: white;
}
#contact-info{
	float: right;
	padding: 7px;
}
#logo{
	padding: 10px;
}
#container{
	background-color: #FAAA;
}
#drop-down{

}
.nav-list{
	font-size: 14px;
	padding-right: 4%;
}
.nav-list li a:hover{
	color: brown;
}
.nav-list a{
	color: #333333;
}
.nav-list a:hover{
    color: brown ;
    background-color: transparent !important;
    
}
.dropdown:hover .dropdown-menu{
  display: block !important;

}

.cpy{
	text-align: center;
    font-family: initial;
    font-style: oblique;
    color: #7A7A7A;
    margin-top: 30px;
}
.ftr1{
  background: #252525;
}
.ftr1 h4{
font-size: 25px;
color: whitesmoke;
}
.ftr1 li{
  color: transparent;
}
.ftr1 li a{
  color: #808283;
}
.contact p{
  color: #808283;
}
.contact{
	 margin-top: 35px;
}
.contact li{
	padding-top: 5px;
}